body   {  margin: 0;  padding: 0; font-size: 0.8vw; align-items: center; justify-items: center;}
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}


.list-group.wd > .list-group-item.active {
    color: black !important;
    background-color: transparent;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}
  

#wd-dashboard-title {
    font-weight: lighter;
}

#wd-dashboard-published {
    margin-left: 23px;
    font-weight: bold;
}

#wd-dashboard-courses {
    margin-left: -25px;
    margin-top: -25px;
}

.wd-dashboard-card {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 260px; 
}

.wd-dashboard-card-img {
    height: 150px; 
    object-fit: cover;
}


#wd-dashboard-courses .row {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#wd-courses-navigation .list-group-item {
    border: none;
  }

#wd-account-navigation .list-group-item {
    border: none;
}
  

.container {
    display: flex;
    justify-content: space-between;
}

#wd-modules-controls {
    margin: 0 30px; 
}

#wd-home {
    margin-left: 0px;
}

#wd-modules {
    margin: 0 30px;
}

#wd-assignments-container {
    margin: 0 30px; 
}

#wd-people-table {
    margin: 0 30px;
    font-size: 1rem;

}

@media (max-width: 1000px) {
    #wd-home .course-status {
      display: none; 
    }
}